.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(0deg, #0F0F2D, #332e63, #0F0F2D); /* Define gradient colors */
  background-size: 200% 200%;  /* Larger background size for smoother motion */
  animation: gradientMove 6s ease-in-out infinite;  /* Longer duration for smoother animation */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Keyframe animation */
@keyframes gradientMove {
  0% {
    background-position: 50% 0%;  /* Start position (top center) */
  }
  25% {
    background-position: 50% 50%; /* Move to the middle */
  }
  50% {
    background-position: 100% 50%; /* Move to the right middle */
  }
  75% {
    background-position: 50% 100%; /* Move to the bottom middle */
  }
  100% {
    background-position: 0% 50%;  /* End at left middle (loop back to start) */
  }
}

